body{
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #87CEFA, white);
    background-repeat: no-repeat;
}
* {
    box-sizing: border-box;
  }  
#header__style{
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    font-weight: bold;
    font-size: 22px;
}
#header__style__two{
    display: flex;
    padding-right: 10px;
    width: 240px;
    justify-content: space-between;
}
.center__style{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 3px;
    color: white;
}
.size{
    font-size: 14px;
}
.arrange{
    position: relative;
    width: 600px;
    justify-content: space-around;
}
.header_icon_style{
    padding: 4px;
}
.nav__style{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background-color: rgb(0, 0, 0,0.7);
}
.btn_login{
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: white;
    cursor: pointer;
}
.btn_login:hover{
    background-color: white;
    color: black;
}
a{
    padding: 2px;
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: rgb(245, 245, 248);
}
a:hover{
    background-color: white;
    color:black;
}
a.a__style:hover{
    color: #ca6c1e;
}
.btn_new{
    cursor: pointer;
}
.shop{
    color: whitesmoke;
}
.register{
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
}

.Form{
    display: none;
    background-color:whitesmoke;
    color: black;
    position: fixed;
    top: 30%;
    left: 30%;
    z-index: 1;
    width: 300px;
    height: 340px;
    padding: 20px;
}
.form_container{
    padding: 2px;
}
.btn{
    padding: 4px;
    border: 1px black solid;
    background-color: rgb(0, 128, 0, 0.6);
    color: white;
    width: 250px;
}
.cancel{
    background-color: rgb(255, 0, 0, 0.6);
    width: 20%;
    height: 20%;
    color: whitesmoke;
}
.slide {display: none}
.slideShow-container{
  position: relative;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  
}
.shop__style{
    height: 290px;
    width: 100%;
}

.numbertext {
  color: #17252A;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.heading__style{
    background-color: rgba(0, 0, 0, 0.938);
    background-image: linear-gradient(to right, black,white);
    text-align: center;
    color: black;
    font-size: 22px;
}
.div__style{
    display: flex;
    color: black;
    justify-content: space-evenly;
}
.box__style{
    background-color: white;
    border: 10px solid white;
    width: 250px;
}
.img_size{
    width: 100%;
    height: 250px;
}
.price__style{
    border: none;
    padding: 3px;
    text-align: center;
}
.div__icon__style{
    border: none;
    padding: 7px 0 0 0 ;
    display: flex;
    justify-content: space-evenly;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    padding: 20px;
    width: 100%; 
    height: 100%; 
    overflow: auto;
  }
  .modal-content {
    position: relative;
    background-color:whitesmoke;
    padding: 10px;
    color: black;
    border-radius: 5px;
    width: 250px;
    height: 100px;
    top:37%;
    left: 35%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
#footer__style{
    background-color: rgb(0, 0, 0,0.6);
    color: white;
    text-align: center;
    padding: 1px;
}
.align{
    display: grid;
}
.align2{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 414px) {
    .nav__style{
        display: none;
    }
    .box__style{
        display: block;
        width: 100%;
    }
    .slideShow-container{
        display: block;
        width: 100%;
    }
    .heading__style{
        text-align: left;
        color: whitesmoke;
    }
    .div__style{
        display: block;
    }
}
@media screen and (min-width:415px) and (max-width:1023px) {
    .div__style{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}
.main_blur{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.main_blur#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#popup{
    width: 350px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    position: fixed;
    top: 40%;
    left: 40%;
    padding: 15px;
    transform: translate(-20%,-20%);
    box-shadow: 0 5px 30px rgb(0, 0, 0, 0.50);
    visibility: hidden;
    opacity: 0;
}
#popup.active{
    visibility: visible;
    transition: 0.5s;
    opacity: 100;
}
.login{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col-25 {
    float: left;
    width: 35%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
  }
  .btn{
      width: 30%;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 30%;
  }
  input[type=text],[type=email],[type=tel],[type=password]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }